@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>8 Ball</h1>
    <p class="lead">Click ball to shake</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <div id="eightpage">
                <div class="eight-ball">
                    <img src="http://legomenon.com/images/magic-8ball-first-white.jpg" name="pic" id="ballimg" class="shaker" />
                    <div id="ball-prediction">
                        <div id="ballresponse">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4" id="res"></div>
    </div>

</div>



